<div class="panel callout radius small-5 columns profile-details">
<h3>Personal Details </h3>
    <h5>Email: <%= current_user.email %></h5>
    <h3>Gym Details </h3>
     <% unless current_user.gym.nil? %>  
      <h5>Name: <%= current_user.gym.name %></h5>
      <h5>Location: <%= current_user.gym.street %> <%= current_user.gym.city %> <%= current_user.gym.state %> <%= current_user.gym.zip_code %></h5>
    <% end %>
    <h3>Availability Details</h3>
    <% current_user.availabilities.each do |availability| %>
      <div>
        <h5>Day: <%= availability.day %>, Time: <%= availability.time.strftime("%I:%M %p") %><%= button_to "Remove", availability, :method => :delete %></h5>
      </div>
    <% end %>
    <%= button_to "Add Availability", new_availability_path, :method => :get, class: "button" %>
    <% if  current_user.gym.nil? %>
      <%= button_to "Add Gym", new_gym_path, :method => :get, class: "button" %>
    <% else %>
      <%= button_to "Update Gym", new_gym_path, :method => :get, class: "button" %>
    <% end %>
</div>