<div class="panel callout radius small-5 columns profile-buddies">
    <h3>Buddies</h3>
    <% current_user.buddyships.each do |buddyship| %>
      <div>
        <%= buddyship.buddy.name %> <%= button_to "Remove Buddy", buddyship, :method => :delete  %>
        <% if  buddy?(buddyship.buddy)%>
          <%= buddyship.buddy.name %> is your buddy
        <% end %>
        <% if  buddied_by?(buddyship.buddy)%>
          <%= buddyship.buddy.name %> has buddied you
        <% end %>
        <% buddyship.buddy.availabilities.each do |availability| %>
          <h5>Day: <%= availability.day %>, Time: <%= availability.time.strftime("%I:%M %p") %>
        <% end %>
      </div>
    <% end %>
    <%= form_tag("/search", method: "get") do %>
    <%= submit_tag("Find Buddies", class: "button") %>
    <% end %>
    <h3>Buddied by Users</h3>
    <% current_user.inverse_buddies.each do |inverse_buddy| %>
      <div>
        <%= inverse_buddy.name %> 
      </div>
    <% end %>
  </div>
