<div class="row">
  <div class="small-4 columns small-centered contact">
    <h1>Contact <%= @buddy.name%></h1>
  </div>
  <div class="row">
    <div class="panel callout radius small-4 small-centered columns">
      <h5>
        <%= @buddy.name%>, 
        <%= @buddy.email%>
      </h5> 
      <%= form_for @message, :url => contact_buddy_path do |form| %>
        <div>
          <%= form.hidden_field :name, value: @buddy.name %>
        </div>
         <div>
          <%= form.hidden_field :email, value: @buddy.email %>
        </div>
        <div>
          <%= form.text_field :subject, placeholder: "Enter Subject" %>
        </div>
        <div class>
          <%= form.text_area :body, placeholder: "Enter Message", rows:15 %>
        </div>
        <br /><%= form.submit "Send", class: "button" %>
      <% end %>
    </div>
  </div>
</div>



<%= params.inspect %>