<div class="row">
  <div class="small-6 columns small-centered">
    <h1>Contact Buddy</h1>
  </div>
  <div class="row">
    <div class="panel callout radius small-6 small-centered columns">
    <h3>
  <%= current_user.name%>, 
  <%= current_user.email%>
  </h3> 

<h3>
  <%= @buddy.name%>, 
  <%= @buddy.email%>
</h3> 
    <%= form_tag do %>
  Form contents
<% end %>
  </div>
  </div>
</div>



<%= params.inspect %>