<div class="row">
  <div class="small-6 columns small-centered">
    <h1>Add Gym</h1>
  </div>
</div>

<div class="row">
  <div class="panel callout radius small-6 small-centered columns">
    <%= label_tag(:results, "Results:") %></br>
    <% unless @gyms_array_hashes.nil?%>
    <%= form_for :gym, url: "/gyms", method: "post" do |f| %>
      <%= f.select 'gym_id', options_for_select(@gyms_array_hashes.collect{ |gym, index| [gym[:name], gym[:yelp_id]] }) %></br></br>
      <%= f.submit, class: "button" %>
    <% end %>
    <% end %>
    <% unless @user.nil? %>
      <%= form_for(@user) do |f| %>
      <%= f.submit "Add Fitness Center", gym_path, class: "button" %>
    <% end %>
    <% end %>
  </div>
</div>


