<div class="row">
  <div class="panel small-3 small-centered columns availability">
    <h2>Availability</h2>
    <%= form_for @availability do |f| %>
      <%= f.label :day %>
     <%=  f.select :day, [['Monday', 'Monday'], ['Tuesday', 'Tuesday'], ['Wednesday', 'Wednesday'], ['Thursday', 'Thursday'], ['Friday', 'Friday'], ['Saturday', 'Saturday'], ['Sunday', 'Sunday']] %>
     <%= f.label :time %>
     <%= f.time_select 'time', {ampm: true} %>
    <div><br /><%= f.submit "Add Availability", class: "button" %></div>
    <% end %>
  </div>
</div>



