<!DOCTYPE html>
<html>
  <head>
    <title>Gym Buddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizer" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="flash small-6 small-centered columns">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    </div>
   

  <%= yield %>

  </body>
</html>